<h1>This is the form</h1>
<form method="POST" action="/new">

  <label>Author Name:
    <input type="text" name="message">
  </label>

  <label>Message:
    <input type="text" name="username">
  </label>

  <button>Submit</button>
</form>