<html>

<body>
  <h1> <% title %> </h1>
  <ul>
    <% messages.forEach((row) => { %>
    <li>

      <ul>
        <li>Message Text: <%= row.message %></li>
        <li>Message User: <%= row.username %></li>
        <li>Date Added: <%= row.date %></li>
        <a href="/detail/<%= row.id %>">Open</a>
      </ul>

    </li>
    <% }) %>
  </ul>
  <a href="/new">Add New Message</a>
</body>

</html>